body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
}

h1 {
    text-align: center;
    color: orangered;
    letter-spacing: 10px;
    text-decoration: overline;
}

.header {
    background-image: url(../img/otelopaint.jpg);
    padding: 10px 50px 540px 50px;
    background-size: cover;
    background-position: center;
}


/* This was my first solution to getting the image centered and full screen. it was also responsive. Though the 
img file should then be within the html
.first {
    align-items: center;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
*/