body {
    background-image: url(../img/topography.png);
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
}

.container {
    width: 70%;
    max-width: 1000px;
    height: 200px;
    margin: 20px auto 20px auto;
}

/*Trying to use a list*/

li {
    list-style: none;
}


/* Using the float method*/

.poster {
    float: left;
    width: 300px;
    height: 400px;
    margin: 0px 0px 20px 0px;
}

.poster img {
    width: 220px;
    height: 320px;
    margin: 40px 0px 0px 40px;
}

.poster p {
    text-align: center;
}

.poster a {
    color: black;
    text-decoration: none;
}

.poster a:hover {
    color: rgb(139, 139, 206);
}

.moonlight {
    background-color: rgba(196, 187, 240, 0.5);
}
    
.fargo {
    background-color: rgba(233, 17, 17, 0.5);
}
    
.resurrection {
    background-color: rgba(0, 0, 159, 0.5);
}
    
.vvitch {
    background-color: rgba(113, 63, 63, 0.5);
}

.tully {
    background-color: rgba(100, 30, 30, 0.5);
}